<h2>Importar Folios</h2>
<div class="row">
	<div class="col-sm-12">
			<form name="form" class="form-horizontal" role="form" novalidate >
				<h4>Datos del Folio</h4>
		  	<div class="well">	     
			    <div class="row">			    				
						<p><input type="file" name="xlfile" accept=".xlsx" id="xlf" /></p>
			    </div>			    			    
			    <div class="row">
						<div class="col-sm-3">
							<input ng-click="imf.cargar()" value="Cargar" class="btn btn-primary"/>			
						</div>
						<div class="col-sm-3">
							<input ng-click="imf.guardar()" value="Guardar" class="btn btn-primary"/>			
						</div>
					</div> 
		  	</div> 	
		  </form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">Folio</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="5%"><div class="text-center">Fecha </div></th>
					<th width="10%"><div class="text-center">Ciudad</div></th>
					<th width="5%"><div class="text-center">Plan</div></th>
					<th width="10%"><div class="text-center">Verificador</div></th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="folio in imf.foliosArreglo.Hoja1" ng-class="folio.existe == true ? 'warning' : ''">
		    	<td>{{folio.Folio}} {{folio.existe}}</td>
			    <td>{{folio.Nombre}}</td>
			    <td>{{folio.Fecha}}</td>
			    <td>{{folio.Ciudad}}</td>
			    <td>{{folio.Plan}}</td>
			    <td>
			    		<!--
			    		<select required ng-model="folio.analista_id" class="form-control" ng-options="usuario._id as usuario.profile.nombre + ' ' + usuario.profile.apPaterno + ' ' + usuario.profile.apMaterno for usuario in imf.usuarios" ng-selected="usuario.profile.ciudad == folio.Ciudad">
			    		</select>
			    		-->
			    <!--{{imf.getAnalista(folio.Ciudad)}}-->
			    		<select required ng-model="folio.analista_id" class="form-control">
							   <option ng-repeat="usuario in imf.usuarios" value="{{usuario._id}}" ng-selected="usuario.profile.ciudad == folio.Ciudad">
							   		{{usuario.profile.nombre + ' ' + usuario.profile.apPaterno + ' ' + usuario.profile.apMaterno}}
							   </option>
							</select>
			
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>

<!--
<select required ng-model="prospecto.empleado_id" class="form-control" ng-options="empleado._id as empleado.nombre + ' ' + empleado.apPaterno + ' ' + empleado.apMaterno for empleado in fa.empleados" ng-change="fa.asignar(prospecto, prospecto.empleado_id)">
</select>

-->



