<h2>Usuarios</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{us.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevousuario" ng-click="us.nuevoUsuario()">
				{{us.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
				<h4>Datos de la Cuenta</h4>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Usuario *</label>
				    	<input name="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="us.usuario.username" required="">
			    	</div>
			    	<div class="col-sm-4" valida>					    
				    	<label>Contraseña *</label>
				    	<input name="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="us.usuario.password" required="">
			    	</div>		    				    	    
			    	<div class="col-sm-4" valida>					    
				    	<label>Confirmar Contraseña *</label>
				    	<input name="confirmar" type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="us.usuario.confirmpassword" required="">
					  </div>
			    </div>
		  	</div>  
		  	<h4>Datos del Usuario</h4>
				<div class="well">	    
			    <div class="row"> 
			    	<div class="col-sm-4" valida>
			    		<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="us.usuario.profile.nombre" required="">
			    	</div>

			    	<div class="col-sm-4" valida>
			    		<label>Apellido Paterno *</label>
				    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="us.usuario.profile.apPaterno" required="">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="us.usuario.profile.apMaterno">
			    	</div>
			    	<div class="col-sm-4" valida>
							<label for="tipo">Tipo de Usuario *</label>
					    <select name="tipo" ng-model="us.usuario.profile.tipo" class="form-control" required="">
							  <option value="Coordinador">Coordinador</option>
							  <option value="Logistica">Logistica</option>
							  <option value="Analista">Analista</option>
							  <option value="Verificador">Verificador</option>
							  <option value="Director">Director</option>
							  <option value="Supervisión">Supervisión</option>
							</select>
						</div>
			    	<div class="col-sm-4">
			    		<label>Dirección</label>
				    	<input type="text" class="form-control" placeholder="Dirección" ng-model="us.usuario.profile.direccion">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="us.usuario.profile.telefono">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="us.usuario.profile.correo">
			    	</div>
			    	<div class="col-sm-4" valida>
			    		<label>Ciudad *</label>
				    	<input name="ciudad" type="text" class="form-control" placeholder="Ciudad" ng-model="us.usuario.profile.ciudad" required="">
			    	</div>
			    	<div class="col-sm-4">
						<label for="talla">Fotografía</label>
						<button class="btn btn-primary" ng-click="us.tomarFoto()"><i class="fa fa-camera"></i></button>
						<img width="100px" ng-src="{{us.usuario.profile.fotografia}}" ng-class="{'img-thumbnail': !!us.usuario.profile.fotografia}" />
					</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="us.guardar(us.usuario,form)" value="Guardar" class="btn btn-primary" ng-show="us.action" valida-form formulario="form"/>
						<input type="submit" ng-click="us.actualizar(us.usuario,form)" value="Actualizar" class="btn btn-primary" ng-show="!us.action" valida-form formulario="form"/>
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Dirección </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="usuario in us.usuarios">
		    	<td><img width="100px" ng-src="{{usuario.fotografia}}" ng-class="{'img-thumbnail': !!usuario.fotografia}"/> </td>
			    <td>{{usuario.profile.nombre}} {{usuario.profile.apPaterno}} {{usuario.profile.apMaterno}}</td>
			    <td>{{usuario.profile.direccion}} </td>
			    <td>{{usuario.profile.telefono}} </td>
			    <td>{{usuario.profile.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="usuario.profile.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!usuario.profile.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="us.editar(usuario._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="us.cambiarEstatus(usuario._id)">
							    				<i class="fa fa-{{usuario.profile.estatus ? 'trash' : 'check' }}"></i> {{usuario.profile.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


