<h2>Folios</h2>
<div class="row well">
	<form name="form" class="form-horizontal" role="form" novalidate style="margin: auto;">
		<div class="col-sm-2 col-sm-offset-4 text-center" valida>
			<label for="fechaInicial">Fecha Inicial *</label>
			<input name="fechaInicial" date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="df.fechaInicial" required="" />
		</div>
		<div class="col-sm-2 text-center" valida>
			<label for="fechaFinal">Fecha Final *</label>
			<input name="fechaFinal" date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="df.fechaFinal" required="" />
		</div>
		<!--
		<div class="col-sm-2 text-center">
			<button ng-click="df.buscarFolios(df.buscar);" class="btn btn-primary">Buscar</button>
		</div>
		-->
	</form>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div id="container"></div>
	</div>		
</div>
<div class="row" >
	<div class="col-sm-12 col-md-12 col-lg-6" style="margin-top: 30px;" ng-repeat="verificador in df.verificadores">
		<div class="well well-light well-sm no-margin no-padding">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-3 profile-pic">
							<img style="max-width:100px;" src="{{df.tieneFoto('masculino', vendedor.profile.fotografia)}}" >
						</div>
						<div class="col-sm-6">
							<h1>{{verificador.profile.nombre}} <span class="semi-bold"> {{verificador.profile.apPaterno}}</span>
							<br>
							<small> Verificador</small></h1>
							<ul class="list-unstyled">
								<li>
									<p class="text-muted">
										<i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{verificador.profile.telefono}}</span>
									</p>
								</li>
								<li>
									<p class="text-muted">
										<i class="fa fa-envelope"></i>&nbsp;&nbsp;
										<a href="mailto:{{vendedor.profile.correo}}">{{verificador.profile.correo}}</a>
									</p>
								</li>
							</ul>
							<br>
							<br>
						</div>
						
						<div class="col-sm-3">
							<h1><small>Totales</small></h1>
							<ul class="list-inline friends-list" >									
								<li>
									<a href="javascript:void(0);">{{df.foliosVisitados}} Visitados</a>
									<br/>
									<a href="javascript:void(0);">{{df.foliosNoEncontrados}} No Encontrados</a>
									<a href="javascript:void(0);">{{df.foliosNoVisitados}} No Visitados</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="col-sm-12">
					<div class="padding-10">
						<div class="well padding-10">
							<h5 class="margin-top-0"><i class="fa fa-list"></i> Estado Folios:</h5>
							<div class="row">
								<div class="col-lg-12">
									<ul class="list-group no-margin">
										<li class="list-group-item">
											<a ui-sref="root.prospectos({vendedor_id : vendedor._id, etapaVenta_id : etapaVenta._id})"> <span class="badge pull-right">{{gv.getCantidadProspectosPorEtapaVenta(vendedor._id, etapaVenta._id)}}</span> {{etapaVenta.nombre}} </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
</div>