<div class="well">	    
	<div class="row">
		<div class="col-md-4">
				<div class="icon-addon addon-md">
					<input type="text" class="form-control" placeholder="Buscar..." ng-model="query">
					<label for="buscar" class="glyphicon glyphicon-search" rel="tooltip" title="" data-original-title="Buscar"></label>
	      </div>
		</div>
	</div>
</div>
<!-- Tabla de Pendientes -->
<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">Folio</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Domicilio</div></th>
					<th width="5%"><div class="text-center">teléfono</div></th>
					<th width="20%"><div class="text-center">Ubicación</div></th>
					<th width="5%"><div class="text-center">Fecha </div></th>
					<th width="10%"><div class="text-center">Zona</div></th>
					<th width="5%"><div class="text-center">Analista</div></th>
					<th width="5%"><div class="text-center">Verificador</div></th>
					<th width="5%">
						<div classq="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="folio in pf.foliosAsignados | filter:query">
		    	<td><a href="/asignaFolios/{{folio._id}}">{{folio.folio}}</a></td>
			    <td>{{folio.nombre}}</td>
			    <td>{{folio.domicilio}}</td>
			    <td>{{folio.telefono}}</td>
			    <td>{{folio.referencia}}</td>
			    <td>{{folio.fecha.getUTCDate() +"/"+ (folio.fecha.getUTCMonth()+1) +"/"+ folio.fecha.getUTCFullYear()}} </td>
			    <td>{{pf.getZona(folio.zona_id)}}</td>
			    <td>{{pf.getAnalista(folio.analista_id)}} </td>
			    <td>{{pf.getVerificador(folio.verificador_id)}}</td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
								  <li><a href="/asignaFolios/{{folio._id}}"><i class="fa fa-pencil"></i> Volver Asignar</a></li>
							  	<li><a href="#" ng-click="pf.finalizarFolio(folio._id)">
							    				<i class="fa fa-check"></i> Finalizar
							    		</a>
							    </li>
							    <li><a href="#" ng-click="pf.duplicadoFolio(folio._id)">
							    				<i class="fa fa-files-o"></i> Duplicado
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>