<h2>Buscar Nombre</h2>
<div class="well">	    
	<div class="row">
	 	<div class="col-sm-4"> 					    
	     	<input type="text" class="form-control" placeholder="Buscar... Nombre" ng-model="bn.buscar.nombre" >
	 	</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Folio</div></th>
					<th width="15%"><div class="text-center">Nombre</div></th>
					<th width="5%"><div class="text-center">Fecha</div></th>
					<th width="10%"><div class="text-center">Zona</div></th>
					<th width="15%"><div class="text-center">Analista</div></th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="folio in bn.folios">
		    	<td><a ui-sref="root.verificaciondetalle({id : folio._id, op : 1})" >{{folio.folio}}</a></td>
			    <td>{{folio.nombre}}</td>
			    <td>{{folio.fecha.getUTCDate() +"/"+ (folio.fecha.getUTCMonth()+1) +"/"+ folio.fecha.getUTCFullYear()}} </td>
			    <td>{{bn.getZona(folio.zona_id)}}</td>
			    <td>{{bn.getAnalista(folio.analista_id)}}</td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


