<h2>Folios</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{fo.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevofolio" ng-click="fo.nuevoFolio()">
				{{fo.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
				<h4>Datos del Folio</h4>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida> 					    
				    	<label>Folio *</label>
				    	<input name="folio" type="text" class="form-control" placeholder="Folio" ng-model="fo.folio.folio" required="">
			    	</div>
			    	<div class="col-sm-8" valida>					    
				    	<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="fo.folio.nombre" required="">
			    	</div>		    				    	    
			    </div>
			    <div class="row">		    	
			    	<div class="col-sm-4" ng-class="form.fecha.$invalid == true && fo.validation == true ? 'has-error':''" valida>
							<label for="fecha">Fecha *</label>
							<input name="fecha" date-time format="dd/MM/yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="fo.folio.fecha" required="" />
						</div>
						
						<!--
						<div class="col-sm-4" valida>					    
				    	<label>Fecha *</label>
				    	<input name="fecha" type="text" class="form-control" placeholder="Fecha" ng-model="fo.folio.fecha" required="">
			    	</div>
						-->
						<div class="col-sm-4" valida>
							<label for="ciudad">Ciudad *</label>
					    <select name="tipo" ng-model="fo.folio.ciudad" class="form-control" required="">
							  <option value="CULIACAN">CULIACAN</option>
							  <option value="MAZATLAN">MAZATLAN</option>
							  <option value="LOS MOCHIS">LOS MOCHIS</option>
							  <option value="AHOME">AHOME</option>
							  <option value="CONCORDIA">CONCORDIA</option>
							  <option value="COSTA RICA">COSTA RICA</option>
							  <option value="SINALOA D LEYVA">SINALOA D LEYVA</option>					  
							</select>
						</div>
						<div class="col-sm-4">					    
				    	<label>Plan</label>
				    	<input type="text" class="form-control" placeholder="Plan" ng-model="fo.folio.plan">
			    	</div>
			    </div>
			    <div class="row">	
						<div class="col-sm-4" valida>
				    	<label >Analista *</label>
							<select name="analista" class="form-control select2" placeholder="Seleccione" ng-model="fo.folio.analista_id" required="">
								<option  value="{{usuario._id}}" ng-repeat="usuario in fo.usuarios">
									{{usuario.profile.nombre}}
								</option>
							</select>
						</div>
			    </div>			    
		  	</div>  
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="fo.guardar(fo.folio,form)" value="Guardar" class="btn btn-primary" ng-show="fo.action" valida-form formulario="form"/>
						<input type="submit" ng-click="fo.actualizar(fo.folio,form)" value="Actualizar" class="btn btn-primary" ng-show="!fo.action" valida-form formulario="form"/>				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Folio</div></th>
					<th width="15%"><div class="text-center">Nombre</div></th>
					<th width="5%"><div class="text-center">Fecha </div></th>
					<th width="10%"><div class="text-center">Ciudad</div></th>
					<th width="15%"><div class="text-center">Analista</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="folio in fo.folios">
		    	<td>{{folio.folio}} </td>
			    <td>{{folio.nombre}}</td>
			    <td>{{folio.fecha}} </td>
			    <td>{{folio.ciudad}} </td>
			    <td>{{fo.getAnalista(folio.analista_id)}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="folio.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!folio.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="fo.editar(folio._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="fo.cambiarEstatus(folio._id)">
							    				<i class="fa fa-{{folio.estatus ? 'trash' : 'check' }}"></i> {{folio.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


