<!--
EJEMPLO DE COMO AGREGAR ELEMENTOS
A LA BARRA LATERAL

<ul data-smart-menu>
  <li data-ui-sref-active="active">
    <a data-ui-sref="app.dashboard" title="Dashboard">
      <i class="fa fa-lg fa-fw fa-home"></i>
      <span class="menu-item-parent">Dashboard</span>
    </a>
  </li>
  <li data-menu-collapse>
    <a href="#">
      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
      <span class="menu-item-parent">Graphs</span>
    </a>
    <ul>
      <li data-ui-sref-active="active">
         <a data-ui-sref="app.graphs.flot">Flot Chart</a>
      </li>
      <li data-ui-sref-active="active">
          <a data-ui-sref="app.graphs.morris">Morris Charts</a>
      </li>
    </ul>
  </li>
</ul>
-->

<nav>
	<ul data-smart-menu>
	
		 
     <li data-ui-sref-active="active">
     	 <a ui-sref="root.importarfolios" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Coordinador'">
      	  <i class="fa fa-lg fa-fw fa-arrow-circle-up"></i>
					<span class="menu-item-parent">Importar Folios</span>
			 </a>
		 </li>

		 <li data-ui-sref-active="active">
      <a ui-sref="root.folios" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Coordinador'">
        <i class="fa fa-lg fa-fw fa-folder-open"></i>
        <span class="menu-item-parent">Crear folio</span>
      </a>
    </li>
    
     <li data-ui-sref-active="active">
      <a ui-sref="root.panelFolios" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Coordinador' || currentUser.roles[0] == 'Logistica'">
        <i class="fa fa-lg fa-fw fa-folder-o"></i>
        <span class="menu-item-parent">Panel de Folios</span>
      </a>
    </li>
    
    
    <li data-ui-sref-active="active">
      <a ui-sref="root.buscarfolio" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Coordinador'">
        <i class="fa fa-lg fa-fw fa-folder-o"></i>
        <span class="menu-item-parent">Buscar Folio</span>
      </a>
    </li>
    
    <li data-ui-sref-active="active">
      <a ui-sref="root.buscarfolio" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Logistica'">
        <i class="fa fa-lg fa-fw fa-folder-o"></i>
        <span class="menu-item-parent">Buscar Folio</span>
      </a>
    </li>
    
     
    <li data-ui-sref-active="active">
      <a ui-sref="root.verificacion" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Verificador'">
        <i class="fa fa-lg fa-fw fa-check-square"></i>
        <span class="menu-item-parent">Verficaciones</span>
      </a>
    </li>
    
    <li data-ui-sref-active="active">
      <a ui-sref="root.panelFoliosAnalista" tilte="Verificaciones" ng-if="currentUser.roles[0] == 'Analista'">
        <i class="fa fa-lg fa-fw fa-folder-o"></i>
        <span class="menu-item-parent">Panel de Folios</span>
      </a>
    </li>
    
    
    
   <!--
    <li data-menu-collapse data-ui-sref-active="active">
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Módulo Maestros</span>
	    </a>
	    <ul>
	      <li data-ui-sref-active="active">
		      <a ui-sref="root.maestroGrupos" tilte="Grupos">
		        <i class="fa fa-lg fa-fw fa-home"></i>
		        <span class="menu-item-parent">Grupos</span>
		      </a>
		    </li>
	    </ul>
    </li>
    <li data-menu-collapse data-ui-sref-active="active">
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Módulo Alumnos</span>
	    </a>
	    <ul>
	      <li data-ui-sref-active="active">
		      <a ui-sref="root.alumnoCalificaciones" tilte="Calificaciones">
		        <i class="fa fa-lg fa-fw fa-home"></i>
		        <span class="menu-item-parent">Calificaciones</span>
		      </a>
		    </li>
	    </ul>
    </li>
    <li data-ui-sref-active="active">
		      <a ui-sref="root.alumnos" tilte="Inscripciones">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Alumnos</span>
		      </a>
		    </li>
	  <li data-ui-sref-active="active">
      <a ui-sref="root.inscripciones">
        <i class="fa fa-lg fa-fw fa-user-plus"></i>
        <span class="menu-item-parent">Inscripciones</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.listarHorarios">
        <i class="fa fa-lg fa-fw fa-user-plus"></i>
        <span class="menu-item-parent">Horarios</span>
      </a>
    </li>
	  <li data-menu-collapse data-ui-sref-active="active">
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Catálogos</span>
	    </a>
	    <ul>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.alumnos" tilte="Inscripciones">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Alumnos</span>
		      </a>
		    </li>
				<li data-ui-sref-active="active">
					<a ui-sref="root.aulas">
					  <i class="fa fa-lg fa-fw fa-users"></i>
					  <span class="menu-item-parent">Aulas</span>
					</a>
				</li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.campus">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Campus</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.ciclos">
		        <i class="fa fa-lg fa-fw fa-circle-o-notch"></i>
		        <span class="menu-item-parent">Ciclos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.conceptosPago">
		        <i class="glyphicon glyphicon-th-list"></i>
		        <span class="menu-item-parent">Conceptos de Pago</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.deptosAcademicos">
		        <i class="fa fa-lg fa-fw fa-cubes"></i>
		        <span class="menu-item-parent">Deptos Académicos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.documentos">
		        <i class="fa fa-lg fa-fw fa fa-th"></i>
		        <span class="menu-item-parent">Documentos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
					<a ui-sref="root.trabajadores">
					  <i class="fa fa-lg fa-fw fa-users"></i>
					  <span class="menu-item-parent">Empleados</span>
					</a>
				</li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.empresas">
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Empresas</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.escuela">
		        <i class="fa fa-lg fa-fw fa-user-plus"></i>
		        <span class="menu-item-parent">Escuela de proce.</span>
		      </a>
		    </li>		
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.estadoCivil">
		        <i class="fa fa-lg fa-fw fa-black-tie "></i>
		        <span class="menu-item-parent">Estado civil</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.generaciones">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Generaciones</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.grupos">
		        <i class="fa fa-lg fa-fw fa-users"></i>
		        <span class="menu-item-parent">Grupos</span>
		      </a>
		    </li>	
				<li data-ui-sref-active="active" ng-show="isLoggedIn">
		      <a ui-sref="root.maestros">
		        <i class="fa fa-lg fa-fw fa fa-th"></i>
		        <span class="menu-item-parent">Maestros</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.materias">
		        <i class="fa fa-lg fa-fw fa-map-o"></i>
		        <span class="menu-item-parent">Materias</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.nacionalidad">
		        <i class="fa fa-lg fa-fw fa-flag-o"></i>
		        <span class="menu-item-parent">Nacionalidad</span>
		      </a>
		    </li>   
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.ocupaciones">
		        <i class="fa fa-lg fa-fw fa-tag"></i>
		        <span class="menu-item-parent">Ocupaciones</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.planEstudio">
		        <i class="fa fa-lg fa fa-object-group"></i>
		        <span class="menu-item-parent">Planes de Estudio</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.periodos">
		        <i class="fa fa-lg fa-fw fa-circle-o-notch"></i>
		        <span class="menu-item-parent">Periodos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.rvoe">
		        <i class="fa fa-lg fa-fw fa-circle-o-notch"></i>
		        <span class="menu-item-parent">Rvoe</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.secciones">
		        <i class="glyphicon glyphicon-th-list"></i>
		        <span class="menu-item-parent">Secciones</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.subCiclos">
		        <i class="fa fa-lg fa-fw fa-circle-o-notch"></i>
		        <span class="menu-item-parent">SubCiclos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.tiposIngresos">
		        <i class="fa fa-lg fa-fw fa-tag"></i>
		        <span class="menu-item-parent">Tipos de Ingresos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.titulos">
		        <i class="glyphicon glyphicon-text-width"></i>
		        <span class="menu-item-parent">Títulos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.turnos">
		        <i class="fa fa-lg fa-fw fa-sun-o"></i>
		        <span class="menu-item-parent">Turnos</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.financiero">
		        <i class="fa fa-lg fa-fw fa-sun-o"></i>
		        <span class="menu-item-parent">Financiero</span>
		      </a>
		    </li>	     
	    </ul>
	  </li>
-->
  </ul>
</nav>