<!-- Tabla de Visitados Analistas -->
<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Folio</div></th>
					<th width="15%"><div class="text-center">Nombre</div></th>
					<th width="10%"><div class="text-center">Fecha </div></th>
					<th width="10%"><div class="text-center">Zona</div></th>
					<th width="10%"><div class="text-center">Razón</div></th>
					<th width="15%"><div class="text-center">Verificador</div></th>
					<th width="10%"><div class="text-center">Acción</div></th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="folio in pfa.foliosPorLlamar" ng-class="folio.EsLlamado == '1' ? 'success' : ''">
		    	<td><a ui-sref="root.verificaciondetalle({id : folio._id, op : 2})" >{{folio.folio}}</a></td>
			    <td>{{folio.nombre}}</td>
			    <td>{{folio.fecha.getUTCDate() +"/"+ (folio.fecha.getUTCMonth()+1) +"/"+ folio.fecha.getUTCFullYear()}} </td>
			    <td>{{pfa.getZona(folio.zona_id)}}</td>
			     <td>{{folio.verificacionRazon}}</td>
			    <td>{{pfa.getVerificador(folio.verificador_id)}}</td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pfa.finalizarFolio(folio._id)"><i class="fa fa-check-square"></i> Finalizar</a></li>
							    <li><a href="#" ng-click="pfa.llamadoFolio(folio._id)"><i class="fa fa-phone"></i> Llamado</a></li>
							  </ul>
							</div>
				    </div>	
			    </td>
		    </tr>
			</tbody>
</table>
		